menu {
    background-color: darkslategray;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: solid;
    margin-top: 0 !important; margin-left: 0 !important;
  }

body{
    background-color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    border-color: darkslategray ;
    color: aliceblue;
    
}


.tittle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    color: darkslategray;

}

.tittle1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(36, 61, 61);
    text-align: left;
    background-color: rgb(159, 185, 183);
}

.tittle2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(34, 97, 97);
    text-align: left;
}

.image{
    width: 43%;
    height: 43%;
    margin-left: 25%;
}

a{
    color: darkslategray;
    margin-left: 45%;
}
